<div>

    <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>            
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td>{{product.id}} </td>
                    <td>{{product.title}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    
                </tr>
            
            </tbody>

        </table>
        <div>
            
            <form class="row p-3" >
                <input id="productId" type="hidden" value="{{product.id}}" data-id="{{carts}}">
                <h5>Select the cart to add the product</h5>
                <select required="required" name="cart" id="listOfCarts">
                    <option value="">Select a cart</option>
                    {{#each carts}}
                        <option value="{{this.id}}" data-id="">{{this.id}}</option>
                    {{/each}} 
                </select>
                <hr>
                <h5>Select the quantity of the product</h5>
                <input required="required" type="number" id="productQuantity" name="" min="1" max="{{product.stock}}">
                <hr>
                
                <button required="required" value="Send" class="btn btn-primary" id="send">Send</button>
                {{!-- <input required value="Send" class="btn btn-primary" id="send"> --}}
                
            </form>
            {{!-- <input type="submit" value="Add" class="btn btn-primary" id="add"> --}}
        </div>
        
    </div>
<script src="/js/add.js"></script>