<div>
    <h1>Productos Agregados</h1>

    <div class="p2">

        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {{#each products.docs}}
            <tr>
                <td>{{this.id}} </td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>
                    <a href="/edit/{{this.id}}" class="btn btn-success">Edit</a>
                    <a href="/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {{/each}}
            </tbody>

        </table>
    </div>
    <div class="">
        <a href="/?page={{products.prevPage}}&&limit={{products.limit}}">Prev</a>
        <a href="/?page={{products.nextPage}}&&limit={{products.limit}}">Next</a>
        <h5>{{products.page}}/ {{products.totalPages}}</h5>

    </div>

    <hr>
    <div>
        <form class="row p-3" action="/api/products" method="POST">
            <input class="form-control m-1" type="text" name="title" placeholder="title...">
            <input class="form-control m-1" type="text" name="description" placeholder="description...">
            <input class="form-control m-1" type="number" name="price" placeholder="price...">
            <input class="form-control m-1" type="number" name="stock" placeholder="stock...">
            <input type="submit" value="Send" class="btn btn-primary"> 
        </form>
    </div>
</div>


