<div>
    <h1>Productos Agregados</h1>
    <hr>
    <div class="p2">

        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>FILTROS</td>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="hidden" id="actualCategory" value="{{actualCategory}}">
                        <select required="required" name="cart" id="allCategory">
                    <option value="">Select a category</option>
                    {{#each allCategories}}
                        <option value="{{this}}" data-id="{{this}}">{{this}} </option>
                    {{/each}} 
                </select>
                </td>
                    <td></td>
                    <td></td>
                    
                </tr>
            {{#each products.docs}}
            <tr>
                <td>{{this.id}} </td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td >{{this.category}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>
                    <a href="/edit/{{this.id}}" class="btn btn-success">Edit</a>
                    <a href="/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                    <a href="/add/{{this.id}}" class="btn btn-warning">Add</a>
                </td>
            </tr>
            {{/each}}
            </tbody>

        </table>
    </div>
    <div class="">
        {{!-- <button class="btn btn-primary" id="prevPage" data-id="/?page={{products.prevPage}}&&limit={{products.limit}}">Previous</button>
        <button class="btn btn-primary" id="nextPage" data-id="/?page={{products.nextPage}}&&limit={{products.limit}}">Next</button> --}}

        <a id="prevPage"class="btn btn-primary" href="/?page={{products.prevPage}}&&limit={{products.limit}}&&category={{actualCategory}}">Prev</a>
        <a id="nextPage"class="btn btn-primary" href="/?page={{products.nextPage}}&&limit={{products.limit}}&&category={{actualCategory}}">Next</a>

        <h5>{{products.page}}/ {{products.totalPages}}</h5>
    </div>
    <hr>



    <div>
        <form class="row p-3" action="/api/products" method="POST">
            <input class="form-control m-1" type="text" name="title" placeholder="title...">
            <input class="form-control m-1" type="text" name="description" placeholder="description...">
            <input class="form-control m-1" type="text" name="category" placeholder="category...">
            <input class="form-control m-1" type="number" name="price" placeholder="price...">
            <input class="form-control m-1" type="number" name="stock" placeholder="stock...">
            <input type="submit" value="Send" class="btn btn-primary"> 
        </form>
    </div>
    
</div>

<script src="/js/index.js"></script>


