
<div>
    <h1>Bienvenide {{user.first_name}} {{user.last_name}} </h1>
    <h3>Datos del usuario</h3>
    <ul>
        <li>Edad {{user.first_name}} </li>
        <li>Edad {{user.last_name}} </li>
        <li>Email {{user.email}} </li>
        <li>Edad {{user.age}} </li>
    </ul>

    <a class="btn btn-success" href="/session/logout" >Cerrar Sesion</a>

</div>